* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
    max-width: 900px;
    margin: auto;
}

.main_header{
    color: #E53781;
    text-align: center;
    padding-top: 30px;
}

.descrizione{
    text-align: center;
    padding-top: 50px;
}
  


.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

.container {
	max-width: 900px;
	margin: 0 auto;
	border: 4px solid rgb(255, 0, 0);
	/* padding: 12px 0; */
}

.col {
    background-color: black;
    color: white;
	width: 30%;
	float: left;
	margin-right: 5%;
}

img{
    max-width: 100%;
}
.card img {
	height: 100px;
}
